@charset "utf-8";

/* --------------------------------------------------- */
/* section, grid style
/* --------------------------------------------------- */
.container{
  margin: 0 auto;
  padding: 0 25px;
  max-width: $content-width;
  
  @include max-screen($breakpoint){
    padding: 0 5%;
  }
}

/* --------------------------------------------------- */
/* header
/* --------------------------------------------------- */
header{
}

/* --------------------------------------------------- */
/* footer
/* --------------------------------------------------- */
footer{
}

/* --------------------------------------------------- */
/* main
/* --------------------------------------------------- */
main{
}








