@charset "utf-8";

/* --------------------------------------------------- */
/* setting
/* --------------------------------------------------- */

$content-width: 960px;

$breakpoint: 767px;
$breakpoint-tb: 960px;

$body-color: #fff;
$text-color: #000;
$base-color: #7d001a;
$second-color: #003b6b;

$light-color: #7d001a;

$font-base: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo;
$font-serif: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$font-en: Futura, Century Gothic, Arial, Helvetica, sans-serif !default;

$img-dir: "../img";
$font-dir: "../fonts";

$base-font-size: 15;
$base-line-height: 1.8;